
.menu {
	/*vertical-align: middle;*/
	/*padding-top: 20px;*/
	display: flex;
	align-items: center;
	height: 140px;
}


.logo img {
	height: 106px;
}


.links {
	float: right;
}
.links a{
	margin: 20px;
	font-family: "paralucent",sans-serif;
	font-weight: 100;
	color: white;
	font-size: 20px;
}

.links a:hover {
	  border-bottom: 1px solid currentColor;
  display: inline-block;
  line-height: 1;
	text-decoration: none;
}


.txt h1{
	font-family: "paralucent",sans-serif;
	font-weight: 300;
	font-size: 120px;
	color: white;	
	padding-top: 35px;
	padding-left: 100px;
}

.txt b{
	font-weight: 700;
}

#circle {
    width: 823px;
    height: 220px;
    border-radius: 50%;
    border: 2px solid white;
}

@media screen and (max-width: 900px) {
  div.txt h1 {
    font-size: 50px;
  }

  div.about h2 {
  	padding-top: 40px;
  }

  div.logofooter {
  	display: none;
  }


  #circle-mobile {
    width: 200px;
    height: 240px;
    border-radius: 50%;
    border: 2px solid white;
}


}

@media screen and (max-width: 600px) {


  div.logo img {
  	height: 60px !important;
  }
}


.banner-content {
	padding-top: 70px;
	height: calc(100vh - 260px);
}

.banner-txt {
	color: white;
	font-family: : proxima-nova, sans-serif;
	margin-top: 30px;
}

.banner-txt a {
	color: white;
	  border-bottom: 1px solid currentColor;
  display: inline-block;
  line-height: 1;
	text-decoration: none;
}

.bg-dark {
	background-color: #353939;
}

.stripe {

	height: 200px;
}

.loader-wrapper {
	height: 100vh;
	background-color: #353939;
	display: flex;
	justify-content: center;
	align-items: center;
}

h2 {
	font-weight: 300;
	color: white;
	font-size: 50px;
  display: inline-block;
  line-height: 0.85;
  border-bottom: 2px solid white;
 }


